
.rounded-table {
    border-radius: 20px;
    overflow: hidden;
}

#map {
    height: 300px;
}
body {
    background-image: url('\webbg.jpg');
    background-size: cover;
}

#title {
    font-family: 'Playfair Display', serif;
}
#title-2 {
    font-family: 'Montserrat', sans-serif; 
}

#top-bg {
    background-image: url('\house2.jpg');
    background-size: 30%;
}
.no-bg {
    background-color: transparent !important; /* Override any Bootstrap background color */
}