.rounded-table {
    border-radius: 20px;
    overflow: hidden;
    background-color: #333; /* Dark grey background for tables */
    color: #fff; /* White text color for contrast */
}

#map {
    height: 300px;
    background-color: #222; /* Very dark grey for map background */
}

#display-pic {
    background-image: url('\templatecard.jpg');
    background-size: contain;

}

body {
    background-image: url('\webbg4.jpg');
    background-size:cover;
    background-color: #121212; /* Very dark grey background color */
    color: #e0e0e0; /* Light grey text color for readability */
}

#title {
    font-family: 'Playfair Display', serif;
    color: #fff; /* White text color */
}
#title-2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff; /* Light grey text color */
}

/* #top-bg {
    background-image: url('\house2.jpg');
    background-size: 30%;
    background-color: #242424; 
} */

.no-bg {
    background-color: transparent !important; /* Maintain transparent background */
}

#chart-bg-1{
    background-color: pink;
}
.large-canvas {
    width: 100% !important;
    height: 500px !important;
    background-color: white; /* Dark background for large canvases */
}

/* Add a darker color scheme for other elements if needed */
.carousel {
    width: 900px;
    margin: 100px auto;
    background-color: #212529;
    padding: 32px 48px 32px 86px;

    border-radius: 8px;
    position: relative;

    display: flex;
    align-items: center;
    gap: 100px;
  }

  img {
    height: 200px;
    border-radius: 8px;
    transform: scale(1.5);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  }

  .testimonial-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 32px 18px;
    color: #adb5bd;
  }
