body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#response-container, #chart-container {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* CSS for the form */
#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

.form-group {
    margin-bottom: 15px;
}

#search-form select,
#search-form button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-form button {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

#search-form button:hover {
    background-color: #0056b3;
}
