USE [RealEstate]
GO
/****** Object:  Table [dbo].[master_dataset_school]    Script Date: 15/05/2024 6:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_dataset_school](
	[School_code] [smallint] NOT NULL,
	[AgeID] [int] NULL,
	[School_name] [varchar](max) NULL,
	[Street] [varchar](max) NULL,
	[Town_suburb] [varchar](100) NOT NULL,
	[Postcode] [smallint] NULL,
	[Phone] [varchar](max) NULL,
	[School_Email] [varchar](max) NULL,
	[Website] [varchar](max) NULL,
	[Fax] [varchar](max) NULL,
	[latest_year_enrolment_FTE] [float] NULL,
	[Indigenous_pct] [float] NULL,
	[LBOTE_pct] [float] NULL,
	[ICSEA_value] [smallint] NULL,
	[Level_of_schooling] [varchar](max) NULL,
	[Selective_school] [varchar](max) NULL,
	[Opportunity_class] [bit] NULL,
	[School_specialty_type] [varchar](max) NULL,
	[School_subtype] [varchar](max) NULL,
	[Support_classes] [varchar](max) NULL,
	[Preschool_ind] [bit] NULL,
	[Distance_education] [varchar](max) NULL,
	[Intensive_english_centre] [varchar](max) NULL,
	[School_gender] [varchar](max) NULL,
	[Late_opening_school] [bit] NULL,
	[Date_1st_teacher] [date] NULL,
	[LGA] [varchar](max) NULL,
	[electorate_from_2023] [varchar](max) NULL,
	[electorate_2015_2022] [varchar](max) NULL,
	[Fed_electorate] [varchar](max) NULL,
	[Operational_directorate] [varchar](max) NULL,
	[Principal_network] [varchar](max) NULL,
	[Operational_directorate_office] [varchar](max) NULL,
	[Operational_directorate_office_phone] [varchar](max) NULL,
	[Operational_directorate_office_address] [varchar](max) NULL,
	[FACS_district] [varchar](max) NULL,
	[Local_health_district] [varchar](max) NULL,
	[AECG_region] [varchar](max) NULL,
	[ASGS_remoteness] [varchar](max) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Assets_unit] [varchar](max) NULL,
	[SA4] [varchar](max) NULL,
	[Date_extracted] [date] NULL,
 CONSTRAINT [PK_master_dataset_school] PRIMARY KEY CLUSTERED 
(
	[School_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suburb]    Script Date: 15/05/2024 6:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suburb](
	[Town_suburb] [varchar](100) NOT NULL,
	[IsActive] [int] NULL,
	[population] [int] NULL,
 CONSTRAINT [pk_Town_suburb] PRIMARY KEY CLUSTERED 
(
	[Town_suburb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuburbCategoryTotals]    Script Date: 15/05/2024 6:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuburbCategoryTotals](
	[Suburb] [varchar](100) NOT NULL,
	[Subcategory] [nvarchar](100) NULL,
	[Total_Count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuburbData_Crime]    Script Date: 15/05/2024 6:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuburbData_Crime](
	[Suburb] [varchar](100) NOT NULL,
	[Offence_category] [nvarchar](50) NULL,
	[Subcategory] [nvarchar](100) NULL,
	[Jan_95] [int] NULL,
	[Feb_95] [int] NULL,
	[Mar_95] [int] NULL,
	[Apr_95] [int] NULL,
	[May_95] [int] NULL,
	[Jun_95] [int] NULL,
	[Jul_95] [int] NULL,
	[Aug_95] [int] NULL,
	[Sep_95] [int] NULL,
	[Oct_95] [int] NULL,
	[Nov_95] [int] NULL,
	[Dec_95] [int] NULL,
	[Jan_96] [int] NULL,
	[Feb_96] [int] NULL,
	[Mar_96] [int] NULL,
	[Apr_96] [int] NULL,
	[May_96] [int] NULL,
	[Jun_96] [int] NULL,
	[Jul_96] [int] NULL,
	[Aug_96] [int] NULL,
	[Sep_96] [int] NULL,
	[Oct_96] [int] NULL,
	[Nov_96] [int] NULL,
	[Dec_96] [int] NULL,
	[Jan_97] [int] NULL,
	[Feb_97] [int] NULL,
	[Mar_97] [int] NULL,
	[Apr_97] [int] NULL,
	[May_97] [int] NULL,
	[Jun_97] [int] NULL,
	[Jul_97] [int] NULL,
	[Aug_97] [int] NULL,
	[Sep_97] [int] NULL,
	[Oct_97] [int] NULL,
	[Nov_97] [int] NULL,
	[Dec_97] [int] NULL,
	[Jan_98] [int] NULL,
	[Feb_98] [int] NULL,
	[Mar_98] [int] NULL,
	[Apr_98] [int] NULL,
	[May_98] [int] NULL,
	[Jun_98] [int] NULL,
	[Jul_98] [int] NULL,
	[Aug_98] [int] NULL,
	[Sep_98] [int] NULL,
	[Oct_98] [int] NULL,
	[Nov_98] [int] NULL,
	[Dec_98] [int] NULL,
	[Jan_99] [int] NULL,
	[Feb_99] [int] NULL,
	[Mar_99] [int] NULL,
	[Apr_99] [int] NULL,
	[May_99] [int] NULL,
	[Jun_99] [int] NULL,
	[Jul_99] [int] NULL,
	[Aug_99] [int] NULL,
	[Sep_99] [int] NULL,
	[Oct_99] [int] NULL,
	[Nov_99] [int] NULL,
	[Dec_99] [int] NULL,
	[Jan_00] [int] NULL,
	[Feb_00] [int] NULL,
	[Mar_00] [int] NULL,
	[Apr_00] [int] NULL,
	[May_00] [int] NULL,
	[Jun_00] [int] NULL,
	[Jul_00] [int] NULL,
	[Aug_00] [int] NULL,
	[Sep_00] [int] NULL,
	[Oct_00] [int] NULL,
	[Nov_00] [int] NULL,
	[Dec_00] [int] NULL,
	[Jan_01] [int] NULL,
	[Feb_01] [int] NULL,
	[Mar_01] [int] NULL,
	[Apr_01] [int] NULL,
	[May_01] [int] NULL,
	[Jun_01] [int] NULL,
	[Jul_01] [int] NULL,
	[Aug_01] [int] NULL,
	[Sep_01] [int] NULL,
	[Oct_01] [int] NULL,
	[Nov_01] [int] NULL,
	[Dec_01] [int] NULL,
	[Jan_02] [int] NULL,
	[Feb_02] [int] NULL,
	[Mar_02] [int] NULL,
	[Apr_02] [int] NULL,
	[May_02] [int] NULL,
	[Jun_02] [int] NULL,
	[Jul_02] [int] NULL,
	[Aug_02] [int] NULL,
	[Sep_02] [int] NULL,
	[Oct_02] [int] NULL,
	[Nov_02] [int] NULL,
	[Dec_02] [int] NULL,
	[Jan_03] [int] NULL,
	[Feb_03] [int] NULL,
	[Mar_03] [int] NULL,
	[Apr_03] [int] NULL,
	[May_03] [int] NULL,
	[Jun_03] [int] NULL,
	[Jul_03] [int] NULL,
	[Aug_03] [int] NULL,
	[Sep_03] [int] NULL,
	[Oct_03] [int] NULL,
	[Nov_03] [int] NULL,
	[Dec_03] [int] NULL,
	[Jan_04] [int] NULL,
	[Feb_04] [int] NULL,
	[Mar_04] [int] NULL,
	[Apr_04] [int] NULL,
	[May_04] [int] NULL,
	[Jun_04] [int] NULL,
	[Jul_04] [int] NULL,
	[Aug_04] [int] NULL,
	[Sep_04] [int] NULL,
	[Oct_04] [int] NULL,
	[Nov_04] [int] NULL,
	[Dec_04] [int] NULL,
	[Jan_05] [int] NULL,
	[Feb_05] [int] NULL,
	[Mar_05] [int] NULL,
	[Apr_05] [int] NULL,
	[May_05] [int] NULL,
	[Jun_05] [int] NULL,
	[Jul_05] [int] NULL,
	[Aug_05] [int] NULL,
	[Sep_05] [int] NULL,
	[Oct_05] [int] NULL,
	[Nov_05] [int] NULL,
	[Dec_05] [int] NULL,
	[Jan_06] [int] NULL,
	[Feb_06] [int] NULL,
	[Mar_06] [int] NULL,
	[Apr_06] [int] NULL,
	[May_06] [int] NULL,
	[Jun_06] [int] NULL,
	[Jul_06] [int] NULL,
	[Aug_06] [int] NULL,
	[Sep_06] [int] NULL,
	[Oct_06] [int] NULL,
	[Nov_06] [int] NULL,
	[Dec_06] [int] NULL,
	[Jan_07] [int] NULL,
	[Feb_07] [int] NULL,
	[Mar_07] [int] NULL,
	[Apr_07] [int] NULL,
	[May_07] [int] NULL,
	[Jun_07] [int] NULL,
	[Jul_07] [int] NULL,
	[Aug_07] [int] NULL,
	[Sep_07] [int] NULL,
	[Oct_07] [int] NULL,
	[Nov_07] [int] NULL,
	[Dec_07] [int] NULL,
	[Jan_08] [int] NULL,
	[Feb_08] [int] NULL,
	[Mar_08] [int] NULL,
	[Apr_08] [int] NULL,
	[May_08] [int] NULL,
	[Jun_08] [int] NULL,
	[Jul_08] [int] NULL,
	[Aug_08] [int] NULL,
	[Sep_08] [int] NULL,
	[Oct_08] [int] NULL,
	[Nov_08] [int] NULL,
	[Dec_08] [int] NULL,
	[Jan_09] [int] NULL,
	[Feb_09] [int] NULL,
	[Mar_09] [int] NULL,
	[Apr_09] [int] NULL,
	[May_09] [int] NULL,
	[Jun_09] [int] NULL,
	[Jul_09] [int] NULL,
	[Aug_09] [int] NULL,
	[Sep_09] [int] NULL,
	[Oct_09] [int] NULL,
	[Nov_09] [int] NULL,
	[Dec_09] [int] NULL,
	[Jan_10] [int] NULL,
	[Feb_10] [int] NULL,
	[Mar_10] [int] NULL,
	[Apr_10] [int] NULL,
	[May_10] [int] NULL,
	[Jun_10] [int] NULL,
	[Jul_10] [int] NULL,
	[Aug_10] [int] NULL,
	[Sep_10] [int] NULL,
	[Oct_10] [int] NULL,
	[Nov_10] [int] NULL,
	[Dec_10] [int] NULL,
	[Jan_11] [int] NULL,
	[Feb_11] [int] NULL,
	[Mar_11] [int] NULL,
	[Apr_11] [int] NULL,
	[May_11] [int] NULL,
	[Jun_11] [int] NULL,
	[Jul_11] [int] NULL,
	[Aug_11] [int] NULL,
	[Sep_11] [int] NULL,
	[Oct_11] [int] NULL,
	[Nov_11] [int] NULL,
	[Dec_11] [int] NULL,
	[Jan_12] [int] NULL,
	[Feb_12] [int] NULL,
	[Mar_12] [int] NULL,
	[Apr_12] [int] NULL,
	[May_12] [int] NULL,
	[Jun_12] [int] NULL,
	[Jul_12] [int] NULL,
	[Aug_12] [int] NULL,
	[Sep_12] [int] NULL,
	[Oct_12] [int] NULL,
	[Nov_12] [int] NULL,
	[Dec_12] [int] NULL,
	[Jan_13] [int] NULL,
	[Feb_13] [int] NULL,
	[Mar_13] [int] NULL,
	[Apr_13] [int] NULL,
	[May_13] [int] NULL,
	[Jun_13] [int] NULL,
	[Jul_13] [int] NULL,
	[Aug_13] [int] NULL,
	[Sep_13] [int] NULL,
	[Oct_13] [int] NULL,
	[Nov_13] [int] NULL,
	[Dec_13] [int] NULL,
	[Jan_14] [int] NULL,
	[Feb_14] [int] NULL,
	[Mar_14] [int] NULL,
	[Apr_14] [int] NULL,
	[May_14] [int] NULL,
	[Jun_14] [int] NULL,
	[Jul_14] [int] NULL,
	[Aug_14] [int] NULL,
	[Sep_14] [int] NULL,
	[Oct_14] [int] NULL,
	[Nov_14] [int] NULL,
	[Dec_14] [int] NULL,
	[Jan_15] [int] NULL,
	[Feb_15] [int] NULL,
	[Mar_15] [int] NULL,
	[Apr_15] [int] NULL,
	[May_15] [int] NULL,
	[Jun_15] [int] NULL,
	[Jul_15] [int] NULL,
	[Aug_15] [int] NULL,
	[Sep_15] [int] NULL,
	[Oct_15] [int] NULL,
	[Nov_15] [int] NULL,
	[Dec_15] [int] NULL,
	[Jan_16] [int] NULL,
	[Feb_16] [int] NULL,
	[Mar_16] [int] NULL,
	[Apr_16] [int] NULL,
	[May_16] [int] NULL,
	[Jun_16] [int] NULL,
	[Jul_16] [int] NULL,
	[Aug_16] [int] NULL,
	[Sep_16] [int] NULL,
	[Oct_16] [int] NULL,
	[Nov_16] [int] NULL,
	[Dec_16] [int] NULL,
	[Jan_17] [int] NULL,
	[Feb_17] [int] NULL,
	[Mar_17] [int] NULL,
	[Apr_17] [int] NULL,
	[May_17] [int] NULL,
	[Jun_17] [int] NULL,
	[Jul_17] [int] NULL,
	[Aug_17] [int] NULL,
	[Sep_17] [int] NULL,
	[Oct_17] [int] NULL,
	[Nov_17] [int] NULL,
	[Dec_17] [int] NULL,
	[Jan_18] [int] NULL,
	[Feb_18] [int] NULL,
	[Mar_18] [int] NULL,
	[Apr_18] [int] NULL,
	[May_18] [int] NULL,
	[Jun_18] [int] NULL,
	[Jul_18] [int] NULL,
	[Aug_18] [int] NULL,
	[Sep_18] [int] NULL,
	[Oct_18] [int] NULL,
	[Nov_18] [int] NULL,
	[Dec_18] [int] NULL,
	[Jan_19] [int] NULL,
	[Feb_19] [int] NULL,
	[Mar_19] [int] NULL,
	[Apr_19] [int] NULL,
	[May_19] [int] NULL,
	[Jun_19] [int] NULL,
	[Jul_19] [int] NULL,
	[Aug_19] [int] NULL,
	[Sep_19] [int] NULL,
	[Oct_19] [int] NULL,
	[Nov_19] [int] NULL,
	[Dec_19] [int] NULL,
	[Jan_20] [int] NULL,
	[Feb_20] [int] NULL,
	[Mar_20] [int] NULL,
	[Apr_20] [int] NULL,
	[May_20] [int] NULL,
	[Jun_20] [int] NULL,
	[Jul_20] [int] NULL,
	[Aug_20] [int] NULL,
	[Sep_20] [int] NULL,
	[Oct_20] [int] NULL,
	[Nov_20] [int] NULL,
	[Dec_20] [int] NULL,
	[Jan_21] [int] NULL,
	[Feb_21] [int] NULL,
	[Mar_21] [int] NULL,
	[Apr_21] [int] NULL,
	[May_21] [int] NULL,
	[Jun_21] [int] NULL,
	[Jul_21] [int] NULL,
	[Aug_21] [int] NULL,
	[Sep_21] [int] NULL,
	[Oct_21] [int] NULL,
	[Nov_21] [int] NULL,
	[Dec_21] [int] NULL,
	[Jan_22] [int] NULL,
	[Feb_22] [int] NULL,
	[Mar_22] [int] NULL,
	[Apr_22] [int] NULL,
	[May_22] [int] NULL,
	[Jun_22] [int] NULL,
	[Jul_22] [int] NULL,
	[Aug_22] [int] NULL,
	[Sep_22] [int] NULL,
	[Oct_22] [int] NULL,
	[Nov_22] [int] NULL,
	[Dec_22] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[master_dataset_school]  WITH CHECK ADD  CONSTRAINT [fk_Town_suburb] FOREIGN KEY([Town_suburb])
REFERENCES [dbo].[Suburb] ([Town_suburb])
GO
ALTER TABLE [dbo].[master_dataset_school] CHECK CONSTRAINT [fk_Town_suburb]
GO
ALTER TABLE [dbo].[SuburbCategoryTotals]  WITH CHECK ADD  CONSTRAINT [fk_suburb_category] FOREIGN KEY([Suburb])
REFERENCES [dbo].[Suburb] ([Town_suburb])
GO
ALTER TABLE [dbo].[SuburbCategoryTotals] CHECK CONSTRAINT [fk_suburb_category]
GO
ALTER TABLE [dbo].[SuburbData_Crime]  WITH CHECK ADD  CONSTRAINT [fk_suburb] FOREIGN KEY([Suburb])
REFERENCES [dbo].[Suburb] ([Town_suburb])
GO
ALTER TABLE [dbo].[SuburbData_Crime] CHECK CONSTRAINT [fk_suburb]
GO
